/*Body*/
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Raleway', verdana, sans-serif;
    margin: 0;
    }
/*Texts*/
.text-small {
    font-size: 12px;
}

.text-xs {
    font-size: 8px;
}
p {font-size: 12px;}
h1 {font-size:20px;}
h2 {font-size: 20px;}
h3 {font-size: 16px; }
h4 {font-size:12px;}
a:link { text-decoration: none;}
a:visited { text-decoration: none; color:black}
a:active { text-decoration: none;}
/*Header*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
nav img {
    height: 40px;
    margin: 0 20px 0 20px;
    }
nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    }
nav li {
    margin: 0 20px 0 20px;
    font-size: 12px;
    border-top: transparent solid 2px;
    padding: 30px 15px 30px 15px;
     }
nav a:visited {
    color: black;
}
nav a:hover {
    color: #0065FC;
    border-top: #0065FC solid 2px;
    padding: 30px 15px 30px 15px;
    margin: 0 20px 0 20px;
    }
/*Main*/
/*Section Search*/
/*Form*/
/*Filters*/
#filters{
    display: flex;
    justify-content: left;
    align-items: center;
}
/*Accommodations*/
#Hébergements {
    display: flex;
    justify-content: left;
}
#accommodations {
    background-color: #F2F2F2;
    width: 70%;
}
.accommodations-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.accommodations-1 a {
    width: 33%;
    padding: 16px 0;
    box-sizing: border-box;
}

.fotos-1 {
    width:200px;
    height:100px;
}
/*Popular*/
#popular {
    background-color: #F2F2F2;
    width: 30%;
}
/*Activities*/
/*Footer*/
footer {
    background-color: #F2F2F2;
    width: 100%;
    display: flex;
    justify-content: left;
}

#hebergements {
    display: flex;
    flex-wrap: wrap;
}

#accommodations, #popular {
    width: 100%;
}

#accommodations {
    order: 2;
}

#popular {
    order: 1;
}

@media screen and (min-width: 768px){
    #hebergements {
        flex-wrap: nowrap;
    }

    #accommodations {
        width: 70%;
        order: 1;
        margin-right: 16px;
    }

    #popular {
        width: 30%;
        order: 2;
    }
}

